version: '3'

volumes:
  pg_data_production:
  static_volume:

networks:
  kittygram:
    driver: bridge

services:
  db:
    image: postgres:13
    env_file: .env
    volumes:
      - pg_data_production:/var/lib/postgresql/data

  backend:
    image: tiaki2601/kittygram_backend
    env_file: .env
    environment:
      - ALLOWED_HOSTS
    volumes:
      - static_volume:/backend_static
    depends_on:
      - db
    networks:
      - kittygram

  frontend:
    image: tiaki2601/kittygram_frontend
    env_file: .env
    command: cp -r /app/build/. /frontend_static/
    volumes:
      - static_volume:/frontend_static
    networks:
      - kittygram

  gateway:
    image: tiaki2601/kittygram_gateway
    env_file: .env
    volumes:
      - static_volume:/media/
    ports:
      - 8080:80
    networks:
      - kittygram