version: '3'
volumes:
  pg_data:
  static:
  media:

services:

  db:
    image: postgres:13
    env_file: .env
    environment:
      - POSTGRES_DB
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - DB_HOST
      - DB_PORT
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    build: ./backend/
    env_file: .env
    environment:
      - ALLOWED_HOSTS
      - SECRET_KEY
      - DEBUG
    volumes:
      - static:/backend_static
      - media:/media
    depends_on:
      - db

  frontend:
    build: ./frontend/
    command: cp -r /app/build/. /static/
    volumes:
      - static:/static

  gateway:
    build: ./nginx/
    env_file: .env
    environment:
      - ALLOWED_HOSTS
    volumes:
      - static:/static
      - media:/media
    ports:
      - 9000:80 
