version: '3'

volumes:
  pg_data_production:
  static_volume:
  media_volume:

services:
  db:
    image: postgres:13
    env_file: .env
    environment:
      - POSTGRES_DB
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - DB_HOST
      - DB_PORT
    volumes:
      - pg_data_production:/var/lib/postgresql/data

  backend:
    image: tiaki2601/kittygram_backend
    env_file: .env
    environment:
      - ALLOWED_HOSTS
      - SECRET_KEY
      - DEBUG
    volumes:
      - static_volume:/backend_static
      - media_volume:/media
    depends_on:
      - db

  frontend:
    image: tiaki2601/kittygram_frontend
    command: cp -r /app/build/. /static/
    volumes:
      - static_volume:/static

  gateway:
    image: tiaki2601/kittygram_gateway
    env_file: .env
    environment:
      - ALLOWED_HOSTS
    volumes:
      - static_volume:/static
      - media_volume:/media
    ports:
      - 9000:80