version: '3'

volumes:
  pg_data_production:
  static_volume:
  media:

services:
  db:
    image: postgres:13
    env_file: .env
    volumes:
      - pg_data_production:/var/lib/postgresql/data

  backend:
    image: tiaki2601/kittygram_backend
    env_file: .env
    environment:
      - ALLOWED_HOSTS
    volumes:
      - static_volume:/backend_static
      - media:/media
    depends_on:
      - db

  frontend:
    image: tiaki2601/kittygram_frontend
    env_file: .env
    command: cp -r /app/build/. /static/
    volumes:
      - static_volume:/static

  gateway:
    image: tiaki2601/kittygram_gateway
    env_file: .env
    volumes:
      - static_volume:/static
      - media:/media
    ports:
      - 8080:80
